


#title
{
   padding: 10% 5%;
   background-color: #ff4c68;
   color: white;
   
}
h1{
    padding: 3% 0%;
    width: 94%;
    font-size: 4rem;
}
h3
{
   font-family: "Montserrat-Bold";
   font-weight: bold;
}
h2.display-2 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.5;
    color: white;
}
p{
    color: #8f8f8f;
}
.fixed-top
{
    padding: 5%;
}
a.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: 2.5rem;
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
    font-family:" Ubuntu";
    font-weight: bold;
}
.heading
{
   margin-top: 23%;
}
img.ipimage
{
   
    width: 25%;
    transform: rotate(25deg);
    position: absolute;
    right: 22%;
}
.navbar-nav
{
    margin-right: 15%;
}
.nav-item
{
    font-size: 2rem;
    padding: 0% 3%;
}
.banner
{
    height: 30%;
    padding: 10%;
    text-align: center;
    position: relative;
    z-index: 10;
    background-color: white;
}
.fa-solid
{
    color: #ef8172;
}
.fa-solid:hover
{
    color: #ff4c68;
}
.fa-4x {
    
    margin: 9px;
}
.testimonial
{
    background-color: #ff4c68;
    width: 100%;
    text-align: center;
    padding: 3%;
}
.kutta
{
    width: 15%;
    border-radius: 100%;
    margin: 4%;
}
.sponsers
{
    background-color:#ff4c68 ;
    text-align: center;
    padding: 3%;

}
.im
{
    width: 14%;
    margin: 3%;
}

#pricing
{
    text-align: center;
    padding: 3%;

}
.button
{
    width: 288px;
}
.pri
{
    padding: 4%;
}
@media (max-width:1000px) {
    img.ipimage
{
   
    width: 60%;
    transform: rotate(25deg);
    position: static;
    right: 19%;
}
    
}
@media (max-width:990px) {
    img.ipimage
{
   
    width: 20%;
    transform: rotate(0);
    position: static;
    
}
#title
{
   padding: 10% 5%;
   background-color: #ff4c68;
   color: white;
   text-align: center;
}
    
}
#semi-footer
{
    background-color: #ff4c68;
    text-align: center;
    padding: 5%;

}
h1.display-3
{
    color: white;
}
#footer
{
    padding: 3% 5%;
    text-align: center;
}
i
{
    padding: 2%;

}